In [2]:
print(333)
3+4

333

7

In [3]:
name1='mohamed'
name2='salama'
print(name1+name2)

mohamedsalama

In [7]:
n=3
n1=6
z=n+n1
print('z =',z)

z = 9

In [8]:
num1=int(input("enter frist num : "))
num2=int(input("enter second num : "))
num3=num1+num2
print(num3)

enter frist num : 4
enter second num : 5
9

In [10]:
list1=['mohamed',12.4,15,'b']
print(list1)
print(f"length :{len(list1)}")

['mohamed', 12.4, 15, 'b']
length :4

In [26]:
list1
list1.reverse()
list1.insert(1,"mosalama")
list1

['mohamed', 'mosalama', 12.4, 15, 'python', 'python', 'python', 'python', 'b']

In [19]:
list1.pop(0)

'python'

In [20]:
list1

['python', 'python', 'python', 'python', 'b', 15, 12.4, 'mohamed']

In [25]:
list2=[80,1,4,56,78]
list2.sort()
list2

[1, 4, 56, 78, 80]

In [27]:
#nested list
list3=[['water','sold'],['mohamed','salama']]
print(list3[0][1])#sold

sold

In [32]:
for i in range(len(list3)):
    for j in range(2):
        print(list3[i][j] ,end=" ")

water sold mohamed salama

In [30]:
for i in list3:
    print(i)

['water', 'sold']
['mohamed', 'salama']

In [33]:
for i in range(10):
    if i%2==0:
        print(i,"even num :")
    else:
        print(i,"old num :")

even num : 0
old num : 1
even num : 2
old num : 3
even num : 4
old num : 5
even num : 6
old num : 7
even num : 8
old num : 9

In [36]:
for i in range(10):
    if i%2==0:
            continue
     
    else:
        print(i,"old num :")

1 old num :
3 old num :
5 old num :
7 old num :
9 old num :

In [37]:
for i in range(1,10):
    if i%2==0:
        break
    else:
        print(i,"old num :")

1 old num :

In [41]:
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print('')

*
**
***
****
*****

In [46]:
#remove velows
word='Mohamed'
listVelows=['a','e','o','i','u']
lower=word.lower()
for i in lower:
    if i in listVelows:
        lower=lower.replace(i,'')
print(lower)

mhmd

In [56]:
statement="This is JaveScribt"
pos=[]
for i in range(len(statement)):
    if statement[i]=='I' or statement[i]=='i':
        pos.append(i)
print(pos)

[2, 5, 15]

In [67]:
#multiplication table
def mul(num):
    for i in range(num+1):
        for j in range(i):
            print(i*(j+1),end=' ')
        print()

In [69]:
mul(3)

1
2 4
3 6 9

In [70]:
import webbrowser
import random
list=['https://www.youtube.com/watch?v=NzyuxPtrRRM&list=PLxIvc-MGOs6ib0oK1z9C46DeKd9rRcSMY','https://www.google.com/maps']
nextOpen=random.choice(list)
#webbrowser.open(nextOpen)

True